In [11]:
import pandas as pd

In [12]:
df= pd.read_csv("BBDD.csv", sep=';')

In [13]:
df.head(50)

    dia  edad                 GitHub
0    18    33     adolfofuentesjofre
1    16    29              maticlein
2    23    48           PatoCespedes
3    15    32           fernachbauer
4    14    34             Treboranes
5    25    35         GustavoFaundez
6    10    25               ngabutti
7    16    28  ignaciofuentesnavarro
8    13    35       SebastianGacitua
9    31    29              cparedest
10   23    33                SDanker
11   17    33           leandroaroca
12   14    27            ceolavarria
13   20    37                 hfas85

In [14]:
df['edad'].mean()

32.714285714285715